<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory name="foo">
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/db_sr03?useUnicode=true&amp;characterEncoding=utf-8&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC
		</property>
		<property name="hibernate.connection.username">sr03</property>
		<property name="hibernate.connection.password">sr03</property>
		<property name="show_sql">true</property>
		<mapping resource="com/sr03/forumdiscussion/model/User.hbm.xml" />
		<mapping resource="com/sr03/forumdiscussion/model/Forum.hbm.xml" />
		<mapping resource="com/sr03/forumdiscussion/model/Message.hbm.xml" />
	</session-factory>
</hibernate-configuration>